<html>

<head>
    <title>
        funCharge
    </title>

    <meta name="viewport" content="initial-scale=1.0,
            width=device-width" />

    <!-- HERE API SCRIPTS -->
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core-legacy.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service-legacy.js" type="text/javascript"
        charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>

    <!-- HERE CSS STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <!-- semantic ui cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <h1 class="ui block header">funCharge</h1>

    <div class="ui stackable internally celled grid">
        <div class="three wide column">
            <p>Buttons go here!!</p>
        </div>
        <div class="ten wide column">
            <div id="mapContainer"></div>
        </div>
        <div class="three wide column">
            <div class="ui stacked segment">
                <h2 class="ui dividing header">Location :</h2>
                <div id="status">
                    <p>Click on map to get location info!!</p>
                </div>
                <h2 class="ui dividing header">Contacts :</h2>
                <div id="contacts">
                    <p>Click on map to get emergency contacts!!</p>
                </div>
            </div>
        </div>

    </div>
</body>

<!-- CUSTOM STYLESHEETS && SCRIPTS -->
<link href="styles.css" rel="stylesheet" type="text/css">
<script src="script.js" type="text/javascript" charset="utf-8"></script>

</html>